<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="tab-pane fade show active" id="basic" role="tabpanel">
        <form th:action="@{/admin/buildings/edit-basic/{id}(id=${building.id})}"
              method="post"
              enctype="multipart/form-data"
              th:fragment="basicBuildingForm">
            <div class="container-xxl flex-grow-1 container-p-y">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="card text-center mb-3">
                            <div class="card-body">
                                <img th:src="${building.mainBanner}"
                                     th:alt="${building.mainBanner}"
                                     style="max-width: 250px;
                                                                     max-height: 200px;">
                                <hr/>
                                <label class="form-label">
                                    <input
                                            type="file"
                                            name="mainBanner"
                                            class="form-control"
                                            accept="image/png, image/jpeg"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label">Название</label>
                                        <input

                                                class="form-control"
                                                type="text"
                                                th:value="${building.name}"
                                                name="buildingName"
                                                placeholder="Название"
                                                autofocus
                                        />
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label">Порядок сортировки</label>
                                        <input
                                                class="form-control"
                                                type="text"
                                                name=""
                                                placeholder="Порядок сортировки"
                                                autofocus
                                        />
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label"></label>
                                        <div class="form-check mb-4">
                                            <label class="form-check-label"
                                            >Активен
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       name="statusBuilding"
                                                       value="true"
                                                       th:checked="${building.statusBuilding.toString() == 'Активен'} ? 'true' : 'false'"
                                                />
                                            </label>
                                        </div>

                                    </div>
                                    <div class="mb-3 column">
                                        <label class="form-label">Адрес</label>
                                        <input
                                                class="form-control"
                                                type="text"
                                                name="address"
                                                placeholder="Адрес"
                                                th:value="${building.address}"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--List Infografic-->
                <!-- Multi Column with Form Separator -->
                <div class="col-12">
                    <div class="card">
                        <h5 class="card-header">Инфографика</h5>
                        <div class="card-body">
                            <div class="form-repeater">
                                <div data-repeater-list="InfographicBuildingPage">
                                    <div data-repeater-item th:each="infographic : ${building.infographicBuildings}">
                                        <div class="row">
                                            <div class="mb-3 col-lg-6 col-xl-3 col-12 mb-0">
                                                <label class="form-label"></label>
                                                <input class="form-control" type="file"
                                                       value="${infographic.urlImage}"
                                                       name="imagesInfographic[]" multiple/>
                                            </div>
                                            <div class="mb-3 col-lg-6 col-xl-3 col-12 mb-0">
                                                <label class="form-label"></label>
                                                <input type="text" class="form-control"
                                                       placeholder="Описание"
                                                       th:value="${infographic.description}"
                                                       name="descriptionImageInfographic[]" multiple/>
                                            </div>
                                            <div class="mb-3 col-lg-12 col-xl-2 col-12 d-flex align-items-center mb-0">
                                                <button class="btn btn-label-danger mt-4"
                                                        data-repeater-delete type="button"
                                                        onclick="handleDelete()">
                                                    <i class="ti ti-x ti-xs me-1"></i>
                                                    <span class="align-middle">Delete</span>
                                                </button>
                                            </div>
                                        </div>
                                        <hr/>
                                    </div>
                                </div>
                                <div class="mb-0">
                                    <button class="btn btn-primary" data-repeater-create
                                            type="button">
                                        <i class="ti ti-plus me-1"></i>
                                        <span class="align-middle">Add</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    addDeleteHandler();
                    let nextId = 1;
                    const btnAdd = document.querySelector('[data-repeater-create]');

                    function addNewItem() {
                        let itemHtml = `
                        <div data-repeater-item data-id="${nextId}">
                            <div class="row">
                                <div class="mb-3 col-lg-6 col-xl-3 col-12 mb-0">
                                    <label class="form-label"></label>
                                    <input class="form-control" type="file"
                                     name="imagesInfographic[]" multiple/>
                                </div>
                                <div class="mb-3 col-lg-6 col-xl-3 col-12 mb-0">
                                    <label class="form-label"></label>
                                    <input type="text" class="form-control" placeholder="Описание"
                                    name="descriptionImageInfographic[]" multiple/>
                                </div>
                                <div class="mb-3 col-lg-12 col-xl-2 col-12 d-flex align-items-center mb-0">
                                    <button class="btn btn-label-danger mt-4" data-repeater-delete type="button">
                                        <i class="ti ti-x ti-xs me-1"></i>
                                        <span class="align-middle">Delete</span>
                                    </button>
                                </div>
                            </div>
                            <hr />
                        </div>`;

                        document.querySelector('[data-repeater-list]').insertAdjacentHTML('beforeend', itemHtml);

                        addDeleteHandler();
                    }

                    function addDeleteHandler() {
                        const deleteBtns = document.querySelectorAll('[data-repeater-delete]');
                        deleteBtns.forEach(btn => {
                            btn.addEventListener('click', handleDelete);
                        });
                    }

                    function handleDelete() {
                        let itemBlock = this.closest('[data-repeater-item]');
                        itemBlock.remove();
                        addDeleteHandler();
                    }

                    btnAdd.addEventListener('click', addNewItem);
                </script>
            </div>
            <div class="mt-2 d-flex justify-content-end mx-4">
                <button type="reset" class="btn btn-label-secondary">Cancel</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</body>
</html>