<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/admin/buildings/edit-panorama/{id}" method="post"
      enctype="multipart/form-data"
      th:fragment="panoramaBuildingForm">
  <div class="container-xxl flex-grow-1 container-p-y">
    <label style="visibility: hidden">
      <input type="text" name="buildingId" th:value="${building.id}"/>
    </label>
    <div class="row">
      <div class="col-12 flex justify-content-start">
        <div class="card text-center mb-3 flex justify-content-start">
          <div class="card-body flex justify-content-start">
            <img th:src="${building.urlPanorama}"
                 th:alt="${building.urlPanorama}"
                 style="max-width: 250px;
                                                             max-height: 200px;">
            <hr/>
            <label class="form-label">
              <input
                      type="file"
                      name="panoramaBuilding"
                      class="form-control"
                      accept="image/png, image/jpeg"/>
            </label>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="mt-2 d-flex justify-content-end mx-4">
    <button type="reset" class="btn btn-label-secondary">Cancel</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
  </div>
</form>

</body>
</html>