<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/assets/"
        data-template="vertical-menu-template-no-customizer-starter"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Вторичный рынок</title>

    <meta name="description" content=""/>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />

    <!-- Icons -->
    <link rel="stylesheet" href="/assets/vendor/fonts/fontawesome.css"/>
    <link rel="stylesheet" href="/assets/vendor/fonts/tabler-icons.css"/>
    <link rel="stylesheet" href="/assets/vendor/fonts/flag-icons.css"/>

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/rtl/core.css" class="template-customizer-core-css"/>
    <link rel="stylesheet" href="/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css"/>
    <link rel="stylesheet" href="/assets/css/demo.css"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="/assets/vendor/libs/node-waves/node-waves.css"/>
    <link rel="stylesheet" href="/assets/vendor/libs/typeahead-js/typeahead.css"/>
    <link rel="stylesheet" href="/assets/vendor/libs/swiper/swiper.css"/>

    <!-- Page CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/pages/ui-carousel.css"/>
    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/assets/js/config.js"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->
        <aside th:replace="~{user/fragments :: menu}"></aside>
        <!-- / Menu -->
        <!-- Layout container -->
        <div class="layout-page" style="padding-top: 1px !important;">
            <!-- Navbar -->
            <nav th:replace="user/fragments::navbar">
            </nav>
            <!-- / Navbar -->
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">

                    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carouselExample"
                                th:each="image, i : ${secondaryMarkets}"
                                th:classappend="${i.index == 0  ? 'active' : ''}"
                                th:attr="data-bs-slide-to=${i.count}"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item " th:each="image, i : ${secondaryMarkets}"
                                 th:classappend="${i.index == 0  ? 'active' : ''}">
                                <img class="d-block w-100"
                                     th:id="${i.index}"
                                     src="../../assets/img/elements/10.jpg"
                                     th:src="${image.urlImage}"
                                     th:alt="${image.urlImage}"/>
                                <div class="carousel-caption d-none d-md-block">
                                    <h4>First slide</h4>
                                    <p>Eos mutat malis maluisset et, agam ancillae quo te, in vim congue pertinacia.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>

                    <hr/>
                    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
                        <div class="col" th:each="subject, i : ${subjects}">
                            <a class="text-reset" th:href="@{/subjects/{id}(id=${subject.id})}">
                                <div class="card h-100">
                                    <img class="card-img-top" th:src="${subject.imageSubjects.get(1).urlImage}"
                                         th:alt="${subject.imageSubjects.get(1).urlImage}"
                                    />
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${subject.name}">Card title</h5>
                                        <ul class="list-unstyled">
                                            <li>
                                                <i class="ti ti-location"></i>
                                                <span th:text="${subject.address}">
                                                    Улица объекта
                                                </span>
                                            </li>
                                            <li>
                                                <i class="ti ti-currency-dollar ti-sm"></i>
                                                <span th:text="${subject.area}"></span>
                                            </li>
                                            <li>
                                                <i class="ti ti-door" style="margin-right: 5px"></i>
                                                <span th:text="${subject.rooms}" style="margin-right: 5px"></span>
                                                Комнат
                                            </li>
                                            <li>
                                                <i class="ti ti-chart-bar ti-sm" style="margin-right: 5px"></i>
                                                <span th:text="${subject.floor}" style="margin-right: 5px"></span>
                                                этаж
                                            </li>
                                            <li>
                                                <i class="ti ti-shopping-cart ti-sm" style="margin-right: 5px"></i>
                                                <span th:text="${subject.price}"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>

                </div>
                <!-- / Content -->

                <!-- Footer -->
                <footer th:replace="~{user/fragments:: footer}"></footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->

        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- / Layout wrapper -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="./assets/vendor/libs/jquery/jquery.js"></script>
<script src="/assets/vendor/libs/popper/popper.js"></script>
<script src="/assets/vendor/js/bootstrap.js"></script>
<script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/assets/vendor/libs/node-waves/node-waves.js"></script>

<script src="/assets/vendor/libs/hammer/hammer.js"></script>
<script src="/assets/vendor/libs/i18n/i18n.js"></script>
<script src="/assets/vendor/libs/typeahead-js/typeahead.js"></script>

<script src="/assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="/assets/vendor/libs/swiper/swiper.js"></script>

<!-- Main JS -->
<script src="/assets/js/main.js"></script>

<!-- Page JS -->
<script src="/assets/js/ui-carousel.js"></script>
</body>
</html>
