<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Menu -->

<aside id="layout-menu"
       class="layout-menu menu-vertical menu bg-menu-theme"
       th:fragment="menu">
    <div class="app-brand demo">
        <a href="/" class="app-brand-link">

                <svg name="image"
                     width="114.99999999999999"
                     height="46" x="0" y="0"
                     class="" style="opacity: 1;">
                <defs>
                    <clipPath id="cp_14e15f07">
                        <path d="M0 0 L114.99999999999999 0 C114.99999999999999 0 114.99999999999999 0 114.99999999999999 0 L114.99999999999999 46 C114.99999999999999 46 114.99999999999999 46 114.99999999999999 46 L0 46 C0 46 0 46 0 46 L0 0 C0 0 0 0 0 0 Z">
                        </path>
                    </clipPath>
                </defs>
                <svg x="0" y="0" width="114.99999999999999" height="46" clip-path="url(#cp_14e15f07)"
                     style="overflow: hidden;">
                    <image x="0" y="-11.040000193281749" height="78.2" width="114.99999999999999"
                           preserveAspectRatio="none"
                           xlink:href="https://images.moqups.com/repo/vtToXvAXig/_clipboard/RXupD3yvy6.png?Expires=1697965577&amp;Key-Pair-Id=K1TPUF1X6HKIYU&amp;Signature=jtzBc0pOcrU3tgZLPzaxVDqT7T9ovshry-MUBxDXUahGj5jMJ9Ud6SJsAgtC2tgkSvBbJrwU~i6EFwMqc0rYcneBtLnE3kEUCEnczzArBiSiRfYY9MbPxA0OdywyRVmq0qMvFPSjpvXhekVX~wJD46YMTi-Xst7Ztb78y8hCO~7f2LGT2CE5hfgCWuKT3pKZxVie7iYMtNpNbCw0sOLBBx-ywXzuolo6FbHxL4XNiL~esWjtu8c3IOeQf-0O9OffWRacD6l59Iamkt5PvE1VGEhTUkBbAHFT2mB~EGvfO6wgDbSvxUXpvbWE9lDBVadpKI-FZx~6cSJpIifWaHliHQ__">
                    </image>
                </svg>
                <path d="M0 0 L114.99999999999999 0 C114.99999999999999 0 114.99999999999999 0 114.99999999999999 0 L114.99999999999999 46 C114.99999999999999 46 114.99999999999999 46 114.99999999999999 46 L0 46 C0 46 0 46 0 46 L0 0 C0 0 0 0 0 0 Z"
                      stroke-width="0" stroke="none" stroke-dasharray="none" fill="transparent">
                </path>
                <path d="M0 0 L114.99999999999999 0 C114.99999999999999 0 114.99999999999999 0 114.99999999999999 0 L114.99999999999999 46 C114.99999999999999 46 114.99999999999999 46 114.99999999999999 46 L0 46 C0 46 0 46 0 46 L0 0 C0 0 0 0 0 0 Z"
                      stroke-width="0" stroke="none" stroke-dasharray="none" fill="none">
                </path>
            </svg>

        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
            <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Page -->
        <li class="menu-item" th:classappend="${pageActive == 'requests' ? 'active' : ''}">
            <a href="/requests" class="menu-link">
                <i class="menu-icon tf-icons ti ti-app-window"></i>
                <div>Заявки</div>
            </a>
        </li>
        <li class="menu-item" th:classappend="${pageActive == 'subjects' ? 'active' : ''}">
            <a href="/subjects" class="menu-link">
                <i class="menu-icon tf-icons ti ti-app-window"></i>
                <div>Обьекты</div>
            </a>
        </li>
        <li class="menu-item" th:classappend="${pageActive == 'buildings' ? 'active' : ''}">
            <a href="/buildings" class="menu-link">
                <i class="menu-icon tf-icons ti ti-app-window"></i>
                <div>Новострои</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/services" class="menu-link">
                <i class="menu-icon tf-icons ti ti-app-window"></i>
                <div>Услуги</div>
            </a>
        </li>

        <li class="menu-item">
            <a class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-settings"></i>
                <div>Настройки</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item" th:classappend="${pageActive == 'contact' ? 'active' : ''}">
                    <a href="/setting/contact" class="menu-link">
                        <div>Контакты</div>
                    </a>
                </li>

                <li class="menu-item" th:classappend="${pageActive == 'bindingObject' ? 'active' : ''}">
                    <a href="/setting/bindingObject" class="menu-link">
                        <div>Привязка объктов</div>
                    </a>
                </li>
                <li class="menu-item" th:classappend="${pageActive == 'secondaryMarket' ? 'active' : ''}">
                    <a href="/setting/secondaryMarket" class="menu-link">
                        <div>Вторичный рынок</div>
                    </a>
                </li>
                <li class="menu-item" th:classappend="${pageActive == 'editPageService' ? 'active' : ''}">
                    <a href="/setting/pageService" class="menu-link">
                        <div>Услуги</div>
                    </a>
                </li>
                <li class="menu-item" th:classappend="${pageActive == 'editPageAboutCompany0' ? 'active' : ''}">
                    <a href="/setting/pageAboutCompany" class="menu-link">
                        <div>О компании</div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>
<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
     id="layout-navbar"
     th:fragment="navbar">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="ti ti-menu-2 ti-sm"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <div class="navbar-nav align-items-center">
            <a class="nav-link style-switcher-toggle hide-arrow" href="javascript:void(0);">
                <i class="ti ti-sm"></i>
            </a>
        </div>

        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                        <img src="../../assets/img/avatars/1.png" alt class="h-auto rounded-circle" />
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar avatar-online">
                                        <img src="../../assets/img/avatars/1.png" alt class="h-auto rounded-circle" />
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <span class="fw-semibold d-block">John Doe</span>
                                    <small class="text-muted">Admin</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>

                    <li>
                        <a class="dropdown-item" href="/logout">
                            <i class="ti ti-logout me-2 ti-sm"></i>
                            <span class="align-middle">Log Out</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--/ User -->
        </ul>
    </div>
</nav>

</body>
</html>