<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/buildings/edit-rooms-building/{id}" method="post"
      enctype="multipart/form-data"
      th:fragment="roomsBuildingForm"
      onsubmit="transferTextRoom()">
    <div class="container-xxl flex-grow-1 container-p-y">
        <!--Фото и основные данные-->
        <label style="visibility: hidden">
            <input type="hidden" name="buildingId" th:value="${building.id}"/>
        </label>
        <div class="row mb-5">
            <div class="col-md-4 col-lg-4">
                <div class="card text-center mb-3">
                    <div class="card-body">
                        <img th:src="${building.roomBuilding.urlSlide1}"
                             th:alt="${building.roomBuilding.urlSlide1}"
                             style="max-width: 250px;
                                                             max-height: 200px;">
                        <hr/>
                        <label class="form-label">
                            <input
                                    type="file"
                                    name="urlSlide1"
                                    class="form-control"
                                    accept="image/png, image/jpeg"/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="card text-center mb-3">
                    <div class="card-body">
                        <img th:src="${building.roomBuilding.urlSlide2}"
                             th:alt="${building.roomBuilding.urlSlide2}"
                             style="max-width: 250px;
                                                             max-height: 200px;">
                        <hr/>
                        <label class="form-label">
                            <input
                                    type="file"
                                    name="urlSlide2"
                                    class="form-control"
                                    accept="image/png, image/jpeg"/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="card text-center mb-3">
                    <div class="card-body">
                        <img th:src="${building.roomBuilding.urlSlide3}"
                             th:alt="${building.roomBuilding.urlSlide3}"
                             style="max-width: 250px;
                                                             max-height: 200px;">
                        <hr/>
                        <label class="form-label">
                            <input
                                    type="file"
                                    name="urlSlide3"
                                    class="form-control"
                                    accept="image/png, image/jpeg"/>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!--List Infografic-->
        <!-- Multi Column with Form Separator -->

        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div data-quill-editor id="editor-roomsBuilding" th:utext="${building.roomBuilding.text}">

                    </div>
                    <label for="textareaRoomsBuilding">
                    <textarea id="textareaRoomsBuilding"
                              class="visually-hidden"
                              name="editorDataRoomsBuilding">
                    </textarea>
                    </label>
                </div>
            </div>
        </div>

        <!--List Infografic-->
        <!-- Multi Column with Form Separator -->
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Инфографика</h5>
                <div class="card-body">
                    <div class="form-repeater">
                        <div data-repeater-list-room-infographic>
                            <div data-repeater-item-room-infographic th:each="infographic : ${building.roomBuilding.infographicRooms}">
                                <div class="row">
                                    <div class="mb-3 col-lg-6 col-xl-3 col-12 mb-0">
                                        <label class="form-label"></label>
                                        <input class="form-control" type="file"
                                               name="imagesRoomInfographic[]" multiple/>
                                    </div>
                                    <div class="mb-3 col-lg-6 col-xl-3 col-12 mb-0">
                                        <label class="form-label"></label>
                                        <input type="text" class="form-control"
                                               placeholder="Описание"
                                               th:value="${infographic.description}"
                                               name="descriptionImageRoomInfographic[]" multiple/>
                                    </div>
                                    <div class="mb-3 col-lg-12 col-xl-2 col-12 d-flex align-items-center mb-0">
                                        <button class="btn btn-label-danger mt-4"
                                                data-repeater-delete-room-building type="button"
                                                onclick="handleDeleteRoom()">
                                            <i class="ti ti-x ti-xs me-1"></i>
                                            <span class="align-middle">Delete</span>
                                        </button>
                                    </div>
                                </div>
                                <hr/>
                            </div>
                        </div>
                        <div class="mb-0">
                            <button class="btn btn-primary"
                                    data-repeater-create-room-infographic
                                    type="button">
                                <i class="ti ti-plus me-1"></i>
                                <span class="align-middle">Add</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>

            function transferTextRoom() {

                let container = document.querySelector('#editor-roomsBuilding')
                let quill = new Quill(container);
                document.querySelector('#textareaRoomsBuilding').textContent = quill.root.innerHTML;
            }

            let itemsRoom = [];
            let nextIdRoom = 1;
            const btnAddRoom = document.querySelector('[data-repeater-create-room-infographic]');

            function addNewItemRoom() {
                let itemHtmlRoom = `
                                                    <div data-repeater-item-room-infographic data-id="${nextIdRoom}">
                                                        <div class="row">
                                                           <div class="mb-3 col-lg-6 col-xl-3 col-12 mb-0">
                                                               <label class="form-label"
                                                                      for="form-repeater-1-1"></label>
                                                               <input class="form-control" type="file"
                                                                      name="imagesRoomInfographic[]" multiple/>
                                                           </div>
                                                           <div class="mb-3 col-lg-6 col-xl-3 col-12 mb-0">
                                                               <label class="form-label"
                                                                      for="form-repeater-1-2"></label>
                                                               <input type="text" class="form-control"
                                                                      placeholder="Описание"
                                                                      name="descriptionImageRoomInfographic[]" multiple/>
                                                           </div>
                                                           <div class="mb-3 col-lg-12 col-xl-2 col-12 d-flex align-items-center mb-0">
                                                               <button class="btn btn-label-danger mt-4"
                                                                       data-repeater-delete-room-infographic type="button">
                                                                   <i class="ti ti-x ti-xs me-1"></i>
                                                                   <span class="align-middle">Delete</span>
                                                               </button>
                                                           </div>
                                                        </div>
                                                        <hr/>
                                                    </div>
                                                `;


                document.querySelector('[data-repeater-list-room-infographic]').insertAdjacentHTML('beforeend', itemHtmlRoom);

                const newItemRoom = {
                    id: nextIdRoom++,
                };
                itemsRoom.push(newItemRoom);
                addDeleteHandlerRoom();
            }

            function addDeleteHandlerRoom() {
                const deleteBtnsRoom = document.querySelectorAll('[data-repeater-delete-room-infographic]');
                deleteBtnsRoom.forEach(btn => {
                    btn.addEventListener('click', handleDeleteRoom);
                });
            }

            function handleDeleteRoom() {
                const itemBlockRoom = this.closest('[data-repeater-item-room-infographic]');

                const itemIndexRoom = itemsRoom.findIndex(item => {
                    return item.id === parseInt(itemBlockRoom.dataset.id);
                });
                itemsRoom.splice(itemIndexRoom, 1);
                itemBlockRoom.remove();
                addDeleteHandlerRoom();
            }

            btnAddRoom.addEventListener('click', addNewItemRoom);
        </script>

    </div>
    <div class="mt-2 d-flex justify-content-end mx-4">
        <button type="reset" class="btn btn-label-secondary">Cancel</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>

</body>
</html>